{% extends 'base.html.twig' %}

{% block body %}
    <p>Profile of {{ user.name }}:</p>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <ul>
        <li><a href="{{ path('admin_user_index') }}">Back</a></li>
        <li><a href="{{ path('admin_user_edit', {'id': user.id}) }}">Edit</a></li>
    </ul>
{% endblock %}