{% extends '@FieldUser/base.html.twig' %}

{% block body %}
    <h1>Hello {{ user.name }}!</h1>
    <p>Your profile:</p>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <ul>
        <li><a href="{{ path('profile_edit') }}">Edit</a></li>
        <li><a href="{{ path('logout') }}">Log out</a></li>
    </ul>
{% endblock %}